@model VisitCardApp.DataAccess.Entities.AppUser

@section Headers
{
    <meta http-equiv="Refresh" content="4;url=@Url.Action("Index", "Home")" />
}

<h3>Регистрация прошла успешно!</h3>
<h5>Добро пожаловать, @(Model.UserName)!</h5>

