@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h1>Панель администратора.</h1>
<h2>Здравствуй, @User.Identity.Name!</h2>

<br />
<br />
<p>Оповещений нет.</p>

